@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Variable.ttf");
}
/* https://colorhunt.co/palette/ecf8f9068da97e1717e55807 */
@font-face {
  font-family: "Teko";
  src: url("Teko-Variable.ttf");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrainsMono-VariableFont_wght.ttf");
}
* {
  color: #1b1b1f;
  background-color: #f3f3f3;
  font-family:
    Satoshi,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
  @apply selection:bg-[rgb(174,198,207)] selection:text-blue-900;
}

.paytone {
  font-family: "Teko", sans-serif;
}

@media (prefers-color-scheme: dark) {
  /* dark mode */
  * {
    background: #0f0d0e;
    /* background-image: url("/5488082.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:
      Outfit,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    scroll-behavior: smooth;
    @apply selection:bg-[rgb(174,198,207)] selection:text-blue-900;
  }
}

* {
  @apply antialiased; /*Smoother Fonts*/
}

/* Large devices (laptops/desktop, 992px and up) */
@media screen and (min-width: 992px) {
  .groww {
    transition: all 0.2s linear;
  }
  .groww:hover {
    transform: scale(1.03);
  }
  .growwcards {
    transition: all 0.2s linear;
    background: transparent;
  }
  .growwcards:hover {
    transform: scale(1.03);
    background: transparent;
  }
}

/* Main Article has common properties which i am combining here, too lazy to put md before everything for PC responsive */

.main-article {
  color: white;
  @apply prose prose-slate mx-auto mt-8 p-4 dark:prose-invert lg:prose-xl prose-headings:py-3 prose-headings:font-robotomono prose-headings:font-extrabold prose-headings:leading-9 prose-h1:text-3xl prose-h3:underline prose-p:font-light prose-a:font-robotomono prose-blockquote:border-slate-300 lg:prose-h1:text-6xl;
}

/* Below is for mobile */
@media only screen and (max-width: 600px) {
  .main-article {
    @apply prose prose-slate mx-auto mt-8 dark:prose-invert lg:prose-2xl prose-headings:py-3 prose-headings:font-robotomono prose-headings:font-extrabold prose-headings:leading-9 prose-h1:text-4xl prose-h3:underline prose-p:text-lg prose-p:font-light prose-a:font-robotomono prose-blockquote:border-slate-300 lg:prose-h1:text-7xl;
  }
}

.pre-article {
  @apply intro relative flex flex-col justify-center overflow-hidden px-5 pt-8 lg:px-8  lg:pt-12;
}

.article-intro {
  @apply text-base text-gray-600 lg:text-3xl lg:text-gray-500;
}

.article-cover-image {
  @apply m-auto min-w-full rounded-3xl object-cover lg:h-[30rem];
}

/*Animate on underline*/
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(147 197 253), rgb(147 197 253));
}

@media (prefers-color-scheme: dark) {
  .link-underline {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#556c9b, #556c9b);
  }
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

a {
  text-decoration: none;
}

@keyframes bouncey {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.animate-bounce {
  animation: bouncey 5s linear infinite;
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  animation: intro 1s linear 200ms backwards;
}
.bgimage {
  animation:
    intro 1s linear 200ms backwards,
    bouncey 5s linear infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.sparkles {
  animation-name: wave-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  background: transparent;
}

@media (max-width: 600px) {
  .animate-spin-slow {
    animation: animatespinslow 10s linear infinite;
  }
}

@keyframes animatespinslow {
  100% {
    transform: rotate(1turn);
  }
}

.text-bg-animate {
  background-size: 400%;

  -webkit-animation: text-bg-brr 3s ease infinite;
  -moz-animation: text-bg-brr 3s ease infinite;
  animation: text-bg-brr 3s ease infinite;
}

@keyframes text-bg-brr {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
