---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen max-w-full">
    <div
      class="max-w-[70ch] flex flex-col md:flex-row mx-auto justify-center items-center"
    >
      <h1 class="min-w-[50ch]">Oops Page not found, Return Back to Home</h1>
    </div>
  </div>
</Layout>
