---
import "../styles/globals.css";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=teko@1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    
    <ViewTransitions />
  </head>
  <body>
    <div
      class="dark:sticky top-0 z-40 mx-auto flex w-full items-center justify-between rounded-lg border-b-2 p-5 text-base font-extrabold backdrop-blur-lg backdrop-filter"
    >
      <div class="flex gap-3">
        <img src="/logo.png" class="w-12 lg:w-16 rounded-full" alt="" />
        <div class="pt-2">
          <a
            href="/"
            class="link-underline link-underline-black groww bg-transparent font-robotomono text-base md:text-lg text-chronicles-blue lg:text-xl"
          >
            ACM CHRONICLES
          </a>
          <p
            class="text-chronicles-subtletext text-sm md:text-md lg:text-lg font-light"
          >
            A Monthly Newsletter
          </p>
        </div>
      </div>

      <a
        href="/#Archives"
        class="link-underline link-underline-black bg-transparent groww font-robotomono text-lg lg:text-xl"
      >
        ARCHIVES
      </a>
    </div>

    <slot />

    <div
      class="dark:sticky mx-auto mb-5 flex w-full items-center justify-between bg-transparent p-5 text-base font-extrabold max-w-[95vw] md:max-w-7xl border-2 rounded-full"
    >
      <div
        class="flex flex-row flex-wrap font-robotomono text-lg lg:text-xl md:gap-2"
      >
        <a
          href="https://www.instagram.com/acm_mpstme/"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/square-instagram.svg"}
            class="groww h-5 w-5 dark:hidden lg:h-7 lg:w-7"
          />

          <img
            src={"/instagramdark.svg"}
            class="groww hidden h-7 w-7 dark:block lg:h-10 lg:w-10"
          />
        </a>

        <div class="p-2 lg:p-4"></div>

        <a
          href="https://discord.gg/V8sgnZP3YU"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/discord.svg"}
            class="groww h-5 w-5 dark:hidden lg:h-7 lg:w-7"
          />

          <img
            src={"/discorddark.svg"}
            class="groww hidden h-7 w-7 dark:block lg:h-10 lg:w-10"
          />
        </a>

        <div class="p-2 lg:p-4"></div>

        <a
          href="https://www.linkedin.com/company/acm-nmims-mpstme/"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/linkedin.svg"}
            class="groww h-5 w-5 dark:hidden lg:h-7 lg:w-7"
          />

          <img
            src={"/linkedindark.svg"}
            class="groww hidden h-7 w-7 dark:block lg:h-10 lg:w-10"
          />
        </a>

        <div class="p-2 lg:p-4"></div>

        <a
          href="https://github.com/acm-mpstme-tech"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/square-github.svg"}
            class="groww h-5 w-5 dark:hidden lg:h-7 lg:w-7"
          />

          <img
            src={"/square-githubdark.svg"}
            class="groww hidden h-7 w-7 dark:block lg:h-10 lg:w-10"
          />
        </a>
      </div>

      <a
        href="/About"
        class="bg-transparent link-underline link-underline-black groww font-robotomono text-lg lg:text-2xl"
      >
        ABOUT US
      </a>
    </div>
  </body>
</html>
