<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/../public/favicon.ico" />
		<link rel="stylesheet" href="/../styles/globals.css" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div
			class="sticky top-0 flex w-full items-center justify-between border-b-4 border-gray-400 bg-inherit p-10 text-base font-extrabold z-10"
		>
			<a
				href="/"
				class="link-underline link-underline-black groww bg-inherit font-robotomono text-lg text-[#70acc7] lg:text-3xl"
			>
				ACM CHRONICLES
			</a>

			<a
				href="/Archive"
				class="link-underline link-underline-black groww font-robotomono text-lg lg:text-3xl"
			>
				ARCHIVES
			</a>
		</div>
		<slot />
		<div
			class="sticky flex w-full items-center justify-between border-t-4 border-gray-400 p-10 text-base font-black"
		>
			<div
				class="flex flex-row flex-wrap font-robotomono text-lg lg:text-3xl"
			>
				<a href="https://www.instagram.com/acm_mpstme/" target="_blank">
					<img
						src={"/../public/square-instagram.svg"}
						class="groww h-5 w-5 dark:hidden lg:h-10 lg:w-10"
					/>

					<img
						src={"/../public/instagramdark.svg"}
						class="groww hidden h-5 w-5 hover:outline-fuchsia-500 dark:block lg:h-10 lg:w-10"
					/>
				</a>

				<div class="p-2 lg:p-4"></div>

				<a href="https://discord.gg/V8sgnZP3YU" target="_blank">
					<img
						src={"/../public/discord.svg"}
						class="groww h-5 w-5 dark:hidden lg:h-10 lg:w-10"
					/>

					<img
						src={"/../public/discorddark.svg"}
						class="groww hidden h-5 w-5 dark:block lg:h-10 lg:w-10"
					/>
				</a>

				<div class="p-2 lg:p-4"></div>

				<a
					href="https://www.linkedin.com/company/acm-nmims-mpstme/"
					target="_blank"
				>
					<img
						src={"/../public/linkedin.svg"}
						class="groww h-5 w-5 dark:hidden lg:h-10 lg:w-10"
					/>

					<img
						src={"/../public/linkedindark.svg"}
						class="groww hidden h-5 w-5 dark:block lg:h-10 lg:w-10"
					/>
				</a>

				<div class="p-2 lg:p-4"></div>

				<a href="https://github.com/acm-mpstme-tech" target="_blank">
					<img
						src={"/../public/square-github.svg"}
						class="groww h-5 w-5 dark:hidden lg:h-10 lg:w-10"
					/>

					<img
						src={"/../public/square-githubdark.svg"}
						class="groww hidden h-5 w-5 dark:block lg:h-10 lg:w-10"
					/>
				</a>
			</div>

			<a
				href="/About"
				class="link-underline link-underline-black groww font-robotomono text-lg lg:text-3xl"
			>
				ABOUT US
			</a>
		</div>
	</body>
</html>
