---
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>A Monthly Newsletter By ACM MPSTME!</title>
    <meta name="title" content="A Monthly Newsletter By ACM MPSTME!" />
    <meta
      name="description"
      content="A Monthly Technical Newsletter Initiative By ACM MPSTME!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://newsletter.yashd.tech/" />
    <meta property="og:title" content="A Monthly Newsletter By ACM MPSTME!" />
    <meta
      property="og:description"
      content="A Monthly Technical Newsletter Initiative By ACM MPSTME!"
    />
    <meta
      property="og:image"
      content="https://newsletter.yashd.tech/preview.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://newsletter.yashd.tech/" />
    <meta
      property="twitter:title"
      content="A Monthly Newsletter By ACM MPSTME!"
    />
    <meta
      property="twitter:description"
      content="A Monthly Technical Newsletter Initiative By ACM MPSTME!"
    />
    <meta
      property="twitter:image"
      content="https://newsletter.yashd.tech/preview.png"
    />

    <!-- Meta Tags Generated with https://metatags.io -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div
      class="sticky top-0 z-40 mx-auto flex w-full items-center justify-between border-b-2 p-5 text-base font-extrabold backdrop-blur-lg bg-opacity-10 backdrop-filter"
    >
      <div class="flex gap-3">
        <img src="/logo.png" class="w-12 lg:w-16 rounded-full" alt="" />
        <div class="pt-2">
          <a
            href="/"
            class="link-underline link-underline-black groww bg-transparent font-robotomono text-base md:text-lg text-chronicles-blue lg:text-xl"
          >
            ACM CHRONICLES
          </a>
          <p
            class="text-chronicles-subtletext text-sm md:text-md lg:text-lg font-light"
          >
            A Monthly Newsletter
          </p>
        </div>
      </div>

      <a
        href="/#Archives"
        class="link-underline link-underline-black bg-transparent groww font-robotomono text-lg lg:text-xl"
      >
        ARCHIVES
      </a>
    </div>
    
    <slot />

    <div
      class="sticky mx-auto mb-5 flex w-full items-center justify-between bg-transparent p-5 text-base font-extrabold max-w-[95vw] md:max-w-7xl border-2 rounded-full"
    >
      <div
        class="flex flex-row flex-wrap font-robotomono text-lg lg:text-xl md:gap-2"
      >
        <a
          href="https://www.instagram.com/acm_mpstme/"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/instagramdark.svg"}
            class="groww h-7 w-7 lg:h-10 lg:w-10"
          />
        </a>

        <div class="p-2 lg:p-4"></div>

        <a
          href="https://discord.gg/V8sgnZP3YU"
          class="bg-transparent"
          target="_blank"
        >
          <img src={"/discorddark.svg"} class="groww h-7 w-7 lg:h-10 lg:w-10" />
        </a>

        <div class="p-2 lg:p-4"></div>

        <a
          href="https://www.linkedin.com/company/acm-nmims-mpstme/"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/linkedindark.svg"}
            class="groww h-7 w-7 lg:h-10 lg:w-10"
          />
        </a>

        <div class="p-2 lg:p-4"></div>

        <a
          href="https://github.com/acm-mpstme-tech"
          class="bg-transparent"
          target="_blank"
        >
          <img
            src={"/square-githubdark.svg"}
            class="groww h-7 w-7 lg:h-10 lg:w-10"
          />
        </a>
      </div>

      <a
        href="/About"
        class="bg-transparent link-underline link-underline-black groww font-robotomono text-lg lg:text-2xl"
      >
        ABOUT US
      </a>
    </div>
  </body>
</html>
